.contacts-body {
}
.contacts-title {
  margin-top: 20px;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.contacts-item {
  height: 60px;
  font-size: 18px;
  color: #fff;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgb(87, 87, 87);
  padding-bottom: 5px;
}
