.header {
  // background: rgb(85, 85, 85);
  min-height: 444px;
  position: relative;
  padding: 150px 170px;
  img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  }
  h1 {
    font-size: 40px;
    color: #fff;
    text-transform: lowercase;
    z-index: 2;
    text-align: center;
    // background: #000;
    height: 100px;
    line-height: 100px;
    font-style: italic;
  }
}
.menu-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  position: relative;
}
.header-menu {
  position: relative;
  height: 70px;
  width: 100%;
  background: rgb(56, 56, 56);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease 0s;
  .header-menu_links {
    display: flex;
  }
}
.header-menu_link {
  padding: 0 14px;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  margin-left: 45px;
  text-align: center;
  transition: all 0.2s ease 0s;
  // border: 1px solid #000;
  &:hover {
    background: #000;
  }
  &.selected {
    background: rgb(255, 65, 65);
  }
  &.favorites-link {
    position: relative;
  }
}
.fixed {
  position: fixed;
  top: -70px;
  left: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(70px);
  transition: all 0.5s ease 0s;
  background: rgba(56, 56, 56, 0.8);
}
.header-menu-cart {
  width: 100px;
  height: 46px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  padding: 3px;
  transition: all 0.1s ease 0s;
  img {
    height: 100%;
  }
  &:hover {
    background: rgb(78, 78, 78);
  }
  &::after {
    content: "";
    position: absolute;
    right: 11px;
    top: 20px;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #f6f6f6 transparent transparent transparent;
  }
  .header-cart-counter {
    position: absolute;
    right: -23px;
    top: 0;
    background: rgb(255, 141, 66);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 20px;
  }
}
.header-favorites-counter {
  position: absolute;
  right: -23px;
  top: 0;
  background: rgb(255, 141, 66);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.cart-content {
  position: absolute;
  right: 27px;
  top: 56px;
  width: 400px;
  background: rgb(59, 59, 59);
  padding: 10px;
  max-height: 800px;
  overflow-y: auto;
  z-index: 3;
}
.cart-item {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 5px;
  background: rgb(85, 85, 85);
  transition: all 0.2s ease 0s;
  &:hover {
    background: rgb(105, 105, 105);
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.534);
  }
}
.cart-item-empty {
  height: 70px;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  background: rgb(70, 70, 70);
}
.cart-item-img {
  padding: 3px;
  margin-right: 20px;
  height: 100%;
  min-width: 50px;
  background: #fff;
  text-align: center;
  img {
    height: 100%;
  }
}
.cart-item-text {
  flex: 1 1 auto;
  color: #fff;
  margin-right: 20px;
}
.cart-item-count {
  font-size: 18px;
  color: #fff;
  padding-right: 10px;
}
.cart-item-remove {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  &::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/close2.png");
    background-size: contain;
  }
  &:hover {
    transform: rotate(90deg);
  }
}
.cart-header-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.btn-to-order {
  display: block;
  width: 50%;
  background: rgb(255, 122, 60);
  padding: 20px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  &:hover {
    background: rgb(211, 67, 0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.377);
  }
}
